/* Global */

$color-main: #f7f1e3;

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    background-color: #f7f1e3;
    color: #3d3d3d;
    font-size: 16px;
    line-height: 1.7;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.section {
    padding: 108px 0 108px 0;
}

/* Splash */

.splash {
    height: 100vh;
    position: relative;
    background-image: url(/images/sailing-ship-vessel-boat-sea-37859.jpeg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: $color-main;
    letter-spacing: 0.1em;
    text-shadow: 2px 4px 10px black;
}

.splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@keyframes spinning {
    0% {
        transform: rotateY(0deg);
    }
    20% {
        transform: rotateY(72deg);
    }
    40% {
        transform: rotateY(144deg);
    }
    60% {
        transform: rotateY(216deg);
    }
    80% {
        transform: rotateY(288deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.splash i {
    font-size: 40px;
    background: $color-main;
    width: 60px;
    height: 60px;
    color: black;
    line-height: 55px;
    border-radius: 50%;
    border: 2px solid black;
    text-shadow: none;
    animation: spinning 0.5s;
    animation-delay: 1s;
}

.page-title {
    color: $color-main;
    font-size: 60px;
    margin: 48px 0 0 0;
    font-family: serif;
}

.page-title::after { 
    position: absolute;
    content: '';
    bottom: 80px;
    left: 50%;
    width: 160px;
    height: 2px;
    transform: translate(-50%);
    background-color: red;
}

/* Intro */

.intro {
    background-color: $color-main;
}

.intro p {
    font-style: oblique;
    width: 70%;
    margin: 0 auto;
    padding: 40px 0;
    font-size: 24px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 40px;
    margin-bottom: 40px;
}